@import "tailwindcss";

@theme {
  --color-teal-dark: #0a4b56;
  --color-teal-light: #c2e8e5;
  --color-gold: #ffbe30;
}

@layer base {
  html, body {
    height: 100%;
  }
  body {
    background-color: #f4f8f9;
    color: var(--color-teal-dark);
    -webkit-font-smoothing: antialiased;
  }
}
